
.icon-skype:before { content: '\e800'; } /* '' */
.icon-vimeo:before { content: '\e801'; } /* '' */
.icon-pinterest-circled:before { content: '\e802'; } /* '' */
.icon-facebook-circled:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-basket:before { content: '\e805'; } /* '' */
.icon-home-1:before { content: '\e806'; } /* '' */
.icon-help:before { content: '\e807'; } /* '' */
.icon-plus:before { content: '\e808'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */